
.mat-toolbar {
  background: #000
}
.img-logo {
  width: 114px;
}

.mat-toolbar-row-custom {
  justify-content: space-between;
}

.btn-home, .btn-favorito {

  .badge-favoritos {
    display: inline;
    width: 0px;
    height: 5px;
    padding: 1px 6px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    color: #000;
  }

  &.mdc-button--outlined, .mdc-button__ripple {
    border-color: #A4A4A4 !important;
    color: #A4A4A4
  }
  &.is-active {
    background-color: #FFF;
    color: #0A0A0A;

    mat-icon {
      color: #0A0A0A
    }
    .badge-favoritos {
      background: #000;
      color: #fff;
    }
  }
}

.btn-home {
  &.mat-mdc-outlined-button {
    border-radius: 15px 0px 0px 15px!important;
  }
}

.btn-favorito {
  &.mat-mdc-outlined-button {
    border-radius: 0px 15px 15px 0px!important;
  }
}

.mdc-button__label {
  font-weight: bold;
}

