<mat-toolbar>
  <mat-toolbar-row class="mat-toolbar-row-custom">
    <span><img src="/assets/logo-rick-and-morty.png" class="img-logo" alt=""></span>
    <span>
      <div class="example-button-row">
        <button mat-stroked-button class="btn-home">
          <mat-icon fontIcon="home"></mat-icon>
          Início
        </button>
        <button mat-stroked-button class="btn-favorito">
            <mat-icon fontIcon="favorite"></mat-icon>
            <!-- <mat-icon fontIcon="favorite_border"></mat-icon> -->
            Favorito
        </button>
      </div>
    </span>
  </mat-toolbar-row>
