
@import './../../styles/_variables';

.mat-toolbar {
  background: $color-black;
}
.img-logo {
  width: 114px;
}

.mat-toolbar-row-custom {
  justify-content: space-between;
}

.btn-home, .btn-favorito {

  .badge-favoritos {
    display: inline;
    width: 0px;
    height: 5px;
    padding: 1px 6px;
    border-radius: 50%;
    text-align: center;
    background: $color-white;
    color: $color-black;
  }

  &.mdc-button--outlined, .mdc-button__ripple {
    border-color: $color-btn !important;
    color: $color-btn
  }
  &.is-active {
    background-color: #FFF;
    color: $color-btn-active;

    mat-icon {
      color: $color-btn-active
    }
    .badge-favoritos {
      background: $color-black;;
      color: $color-white;
    }
  }
}

.btn-home {
  &.mat-mdc-outlined-button {
    border-radius: 15px 0px 0px 15px!important;
  }
}

.btn-favorito {
  &.mat-mdc-outlined-button {
    border-radius: 0px 15px 15px 0px!important;
  }
}

.mdc-button__label {
  font-weight: bold;
}

