@import 'src/styles/variables';

.btn-paginacao {
  background-color: $color-white;
  color: $color-black;
  padding: 5px $default-space-elements;
  border-radius: $default-border-radius;
  font-size: 15px;
  cursor:pointer;
  margin: 0px 10px;
}

.texto-paginacao {
  color: $color-white;
  margin-left: $default-space-elements;
}
