$color-black: #000;
$color-btn-active: #0A0A0A;
$color-btn: #A4A4A4;
$color-white: #FFFFFF;
$color-border-gray: #3D3D3D;
$color-bg-default: #1F1F1F;
$color-title-page: #00B5CC;
$color-stroke-title-page: #B2DF28;
$default-space-elements: 15px;
$default-border-radius: 15px;


$font-title: "Creepster", system-ui;
$font-body: "Poppins", sans-serif
