@import './../../../../styles/_variables';

.content {
  width: 100%;
  min-height: 512px;
  display: flex;
}

.bg-black {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-black;
  border: 1px solid $color-border-gray;
  border-radius: $default-border-radius;
  color: $color-white;
  h2 {
    margin-bottom: 0px;
  }
  p {
    margin-top: 10px;
    font-size: 23px;
    font-weight: 100;
  }
}

.wrapper-card {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    position: relative;
    background-color: $color-black;
    color: $color-white;
    border-radius: $default-border-radius;
    border: 1px solid $color-border-gray;
    margin-bottom: $default-space-elements;
    margin-right: $default-space-elements;
    max-width: 224px;
    img {
      width: 100%;
      border-top-right-radius: $default-border-radius;
      border-top-left-radius: $default-border-radius;
    }
    &:nth-child(3n) {
      margin-right: 0px;
    }
    .legenda-imagem {
      padding: $default-space-elements;
    }
  }
}

@media screen and (max-width:600px) {
  .wrapper-card {
    flex-direction: column;
    align-items: center;
  }
}

