.mat-primary.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: #fff;
  --mdc-filled-text-field-focus-active-indicator-color: #fff;
  --mdc-filled-text-field-focus-label-text-color: #fff;
  --mdc-filled-text-field-container-color: #e0e2ec;
  --mdc-filled-text-field-disabled-container-color: #fff;
  --mdc-filled-text-field-label-text-color: #fff;
  --mdc-filled-text-field-hover-label-text-color: #fff;
  --mdc-filled-text-field-disabled-label-text-color: #fff;
  --mdc-filled-text-field-input-text-color: #fff;
  --mdc-filled-text-field-disabled-input-text-color: #fff;
  --mdc-filled-text-field-input-text-placeholder-color: #fff;
  --mdc-filled-text-field-error-hover-label-text-color: #410002;
  --mdc-filled-text-field-error-focus-label-text-color: #ba1a1a;
  --mdc-filled-text-field-error-label-text-color: #ba1a1a;
  --mdc-filled-text-field-active-indicator-color: #fff;
  --mdc-filled-text-field-disabled-active-indicator-color: #fff;
  --mdc-filled-text-field-hover-active-indicator-color: #1a1b1f;
  --mdc-filled-text-field-error-active-indicator-color: #ba1a1a;
  --mdc-filled-text-field-error-focus-active-indicator-color: #ba1a1a;
  --mdc-filled-text-field-error-hover-active-indicator-color: #410002;
  --mdc-outlined-text-field-caret-color: #fff;
  --mdc-outlined-text-field-focus-outline-color: #fff;
  --mdc-outlined-text-field-focus-label-text-color: #fff;
  --mdc-outlined-text-field-label-text-color: #fff;
  --mdc-outlined-text-field-hover-label-text-color: #fff;
  --mdc-outlined-text-field-disabled-label-text-color: #fff;
  --mdc-outlined-text-field-input-text-color: #fff;
  --mdc-outlined-text-field-disabled-input-text-color: #fff;
  --mdc-outlined-text-field-input-text-placeholder-color: #fff;
  --mdc-outlined-text-field-error-focus-label-text-color: #ba1a1a;
  --mdc-outlined-text-field-error-label-text-color: #ba1a1a;
  --mdc-outlined-text-field-error-hover-label-text-color: #410002;
  --mdc-outlined-text-field-outline-color: #74777f;
  --mdc-outlined-text-field-disabled-outline-color: #fff;
  --mdc-outlined-text-field-hover-outline-color: #fff;
  --mdc-outlined-text-field-error-focus-outline-color: #ba1a1a;
  --mdc-outlined-text-field-error-hover-outline-color: #410002;
  --mdc-outlined-text-field-error-outline-color: #ba1a1a;
  --mat-form-field-focus-select-arrow-color: #fff;
  --mat-form-field-disabled-input-text-placeholder-color: #fff;
  --mat-form-field-state-layer-color: #fff;
  --mat-form-field-error-text-color: #ba1a1a;
  --mat-form-field-select-option-text-color: #fff;
  --mat-form-field-select-disabled-option-text-color: #fff;
  --mat-form-field-leading-icon-color: #fff;
  --mat-form-field-disabled-leading-icon-color: #fff;
  --mat-form-field-trailing-icon-color: #fff;
  --mat-form-field-disabled-trailing-icon-color: #fff;
  --mat-form-field-error-focus-trailing-icon-color: #ba1a1a;
  --mat-form-field-error-hover-trailing-icon-color: #410002;
  --mat-form-field-error-trailing-icon-color: #ba1a1a;
  --mat-form-field-enabled-select-arrow-color: #fff;
  --mat-form-field-disabled-select-arrow-color: #fff;
  --mat-form-field-hover-state-layer-opacity: .01
}


